<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model:value="dataBaru">
        <button v-if="edit==false" v-on:click="addData">Add</button>
        <button v-if="edit==true" v-on:click="updateData(index)">Update</button>
        <!-- <button onclick="vm.openForm()" v-if="a < 10">Open Form</button> -->
        <ul style="line-height: 40px;">
            <li v-for="(item,index) in users">{{item.name}}
                <button v-on:click="editData(index)">Edit</button> ||
                <button v-on:click="delData(index)">Delete</button>
            </li>
        </ul>
    </div>

    <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                dataBaru: " ",
                index: "",
                users: [{
                    'name': 'Muhammad Iqbal Mubarok',
                }, {
                    'name': 'Ruby Purwanti',
                }, {
                    'name': 'Faqih Muhammad',
                }],
                edit: false
            },
            methods: {
                addData: function() {
                    this.users.push({
                        'name': this.dataBaru
                    });
                    this.dataBaru = " ";
                },

                editData: function(index) {
                    this.dataBaru = this.users[index].name;
                    this.index = index;
                    this.edit = true;
                },

                updateData: function(index) {
                    // this.users[index].name = this.dataBaru;
                    vm.$set(vm.users, index, {
                        name: this.dataBaru,
                    });
                    this.edit = false;
                    this.dataBaru = " ";


                },



                delData: function(index) {



                    if (confirm("Anda yakin?")) {

                        // this.$delete(this.users, index)
                        this.users.splice(index, 1)
                    }



                }



            }
        })
    </script>
</body>

</html>